@import '../common-css/partial/base.scss';
@import '../common-css/partial/utility.scss';

*{
    font-family: Arial, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.border{
    border: 1px solid black;
}
.pointer{
    cursor: pointer;
}

